###### imports and settings

In [1]:
import osmnx as ox
import geopandas as gpd
import pandas as pd
import requests
import matplotlib.pyplot as plt
import numpy as np
# import networkx as nx
# from descartes import PolygonPatch
# from shapely.geometry import Point, LineString, Polygon
#import sklearn
import folium
from folium import plugins
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
%matplotlib inline
#ox.config(log_console=True)
ox.__version__
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
pd.set_option('display.max_rows', 1000); pd.set_option('display.max_columns', 1000); pd.set_option('display.width', 1000)

https://wiki.openstreetmap.org/wiki/Zoom_levels

In [5]:
#get building data from OSMnx
temp = ox.geometries.geometries_from_point([36.140019, -86.807914], tags = {'building': True}, dist = 30000)

In [6]:
temp = temp[['name', 'geometry']]
temp = temp.reset_index(drop = True).dropna()

In [7]:
temp.head()

                                       name                    geometry
0                 Baptist Center For Ethics  POINT (-86.81955 36.10049)
1                            Harrison House  POINT (-86.88100 35.88226)
2                   Radnor Lake Park Office  POINT (-86.80969 36.06307)
3  Williamson County Administrative Complex  POINT (-86.88421 35.91582)
4                    Fairview Middle School  POINT (-87.13795 35.95089)

In [8]:
temp.to_file('../data/buildings.geojson')